In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import xlrd


from sklearn.datasets import make_multilabel_classification




from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score



import seaborn as sns
from sklearn.model_selection import GridSearchCV

In [2]:
data = pd.read_csv(r'C:\Users\PC-ASUS\Downloads\Churn_Modelling.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.replace({'Gender':{'Male':'1','Female':'0'}},inplace=True)

In [5]:
data.drop(['RowNumber','CustomerId','Surname','Exited','Geography'],axis=1)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,42,2,0.00,1,1,1,101348.88
1,608,0,41,1,83807.86,1,0,1,112542.58
2,502,0,42,8,159660.80,3,1,0,113931.57
3,699,0,39,1,0.00,2,0,0,93826.63
4,850,0,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64
9996,516,1,35,10,57369.61,1,1,1,101699.77
9997,709,0,36,7,0.00,1,0,1,42085.58
9998,772,1,42,3,75075.31,2,1,0,92888.52
9999,792,0,28,4,130142.79,1,1,0,38190.78

In [6]:
x = data.drop(['RowNumber','CustomerId','Surname','Exited','Geography'],axis=1)
y= data.Exited

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state = 0)

In [8]:
from sklearn.tree import DecisionTreeClassifier
dtree_model = DecisionTreeClassifier(max_depth = 2).fit(x_train, y_train)
dtree_predictions = dtree_model.predict(x_test)
  
# creating a confusion matrix
cm = confusion_matrix(y_test, dtree_predictions)

In [9]:
cm

array([[1480,  115],
       [ 212,  193]])

In [10]:
print(accuracy_score(dtree_predictions,y_test))

0.8365

In [11]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=20)

In [12]:
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=20)

In [13]:
y_pred=model.predict(x_test)

In [14]:
accuracy_score(y_pred,y_test)

0.8565

In [15]:
def best_model(model):
    print(model.best_score_)    
    print(model.best_params_)
    print(model.best_estimator_)

In [16]:
# Fit random forest classifier
param_grid = {'max_depth': [3, 5, 6, 7, 8],
              'max_features': [2,4,6,7,8,9],
              'n_estimators':[50,100],
              'min_samples_split': [3, 5, 6, 7]}

RanFor_grid = GridSearchCV(RandomForestClassifier(random_state=0), param_grid, cv=5, refit=True, verbose=0)

RanFor_grid.fit(x_train,y_train)

best_model(RanFor_grid)

0.8558749999999999
{'max_depth': 8, 'max_features': 4, 'min_samples_split': 6, 'n_estimators': 50}
RandomForestClassifier(max_depth=8, max_features=4, min_samples_split=6,
                       n_estimators=50, random_state=0)

In [17]:
model.score(x_test,y_test)

0.8565

In [20]:
accuracy_score(y_test, y_pred)

0.8565